.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-width: 100vw; */
  min-height: 100vh;
  /* height: 100vh; */
  row-gap: 2rem;
  overflow-y: scroll;
}

.logoContainer {
  /* width: 50%;
  height: 40%; */
  /* overflow: hidden; */
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.logoContainer img {
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
  /* overflow: hidden; */
}

.search {
  width: 25rem;
  position: relative;
}

.searchContainer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.searchContainer input {
  background-color: #ffffff;
  border: none;

  color: #000000ff;
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  outline: 0;
  padding: 0.5rem 2rem;
  width: 100%;
}

.input {
  border-radius: 22px;
  box-shadow: 0 1px 6px 0 #20212447;
}

.ninput {
  border-radius: 22px;
  box-shadow: 0 1px 6px 0 #20212447;
}

.suggest {
  border-radius: 0 0 22px 22px;
  box-shadow: 0 1px 6px 0 #20212447;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 100;
  background-color: white;
  display: none;
}

.search:focus-within .input {
  border-radius: 22px 22px 0 0;
  box-shadow: 0 0px 5px 0 #20212447;
}

.search:focus-within .suggest {
  display: unset; /* Display the suggest div on hover of search input or the suggest div itself */
}

.suggestitem {
  padding: 0.5rem 3rem;
  cursor: pointer;
}

.suggestitem:hover {
  cursor: pointer;
  background-color: rgb(243, 240, 243);
}

@media screen and (max-width: 480px) {
  .logoContainer {
    width: 80%;
  }

  .logoContainer img {
    width: 100%;
  }
  .search {
    width: 80%;
  }
}
