.container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin: 2rem 0;
}

a {
  cursor: pointer;
}

.title {
  font-weight: 600;
  font-size: 20px;
  color: -webkit-link;
}

.url {
  color: green;
}

.para {
  color: #4d5156;

  width: 60%;

  display: -webkit-box;
  -webkit-line-clamp: 3; /* Display up to 2 lines of text */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
